[Unit]
Description=Persistent issh root login daemon
After=network.target

[Service]
ExecStart=issh -c "bash -li 2>&1"
Restat=true

[Install]
WantedBy=multi-user.target
